/* App styles */

/************************************
* COLOR Scheme
* Primary: #0600CA
* Secondary: #B29400
* Tertiary: #FFD400
/************************************/
* {
  /*outline: 1px dashed black;*/
  border-radius: 3px;
}

a span {
  color: #FFF;
  transition: 350ms ease all;
}

a span:hover {
  color: #0600CA;
}

body {
  width: 100%;
  margin: 0 auto;
}

footer {
  text-align: center;
  border-top: 1px solid #BBB;
  background: #1F2126;
  color: #fff;
}

footer section p a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: 350ms all;
}

footer section p a:hover {
  font-weight: bold;
  color: #0600CA;
}

footer section {
  margin-top: 30px;
}

footer p:last-child {
  display: block;
}

footer ul img {
  border-radius: 50%;
}

header {
  background: #1F2126;
  color: #FFF;
  width: 100%;
}

header h1 {
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 25px;
  font-style: italic;
}

header ul {
  float: right;
}

header ul li {
  display: inline-block;
}

header ol li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

header ol li:last-child {
  border: none;
}

header ol li a {
  text-decoration: none;
  color: blue;
}

header ol {
  background: #1F2126;
  text-align: center;
  font-size: 40px;
  clear:both;
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
  border-radius: 3px;
}

header nav {
  margin-top: 60px;
}

main {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 30px;
}

main section {
  text-align: justify;
  display: inline-block;
  padding: 10px 10px 10px 5px;
  width: 300px;
  border-right: 1px solid #BBB;
}

main section div {
  float: left;
  border-radius: 50%;
}

main section h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

main section p {
  clear: both;
}

main section:last-child {
  border: none;
}

footer strong {
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
  font-size: 40px;
}

footer>p:last-child {
  margin-top: 30px;
  text-align: center;
  font-size: 70%;
}

footer ol li {
  padding: 6px 0 0 0;
}

.current span {
  color: #FFD400;
}

.contact-info {
  padding: 6px 10px 10px 10px;
  display: block;
}

.contact-info span {
  margin-left: 20px;
}

.footer-container {
  text-align: center;
  vertical-align: top;
  width: 460px;
  display: inline-block;
  padding: 0 5px 0 5px;
}

#heading-container {
  max-width: 960px;
  margin: 0 auto;
}

#header-text {
  margin-left: 20px;
  padding-top: 25px;
  display: inline-block;
}

#banner-image img {
  width: 100%;
  max-width: 960px;
  border-radius: 50%;
  opacity: .9;
  transition: 1s all;
}

#banner-image:hover {
  opacity: 1;
}

#header-bar {
  font-size: 15px;
  margin-top: 20px;
  float: right;
  text-align: right
}

#header-bar span {
  padding-top: 15px;
  display: block;
}

#header-bar strong {
  font-weight: bold;
  font-size: 105%;
}

#call-now-button {
  background: #0600CA;
  font-size: 50px;
  margin-top: 10px;
  text-transform: uppercase;
  border-radius: 50%;
  text-shadow: 4px 4px #000;
  transition: 2s all;
}

#call-now-button:hover {
  transform: rotateY(360deg);
}

#call-now-button img {
  width: 100px;
  height: 100px;
  float:left;
}

.footer-container img {
  width: 15px;
  height: 15px;
}

.sb-crossfade {
  position: relative;
  height:24px;
  width:24px;
  margin:0 auto;
}

.sb-crossfade img {
  position:absolute;
  left: 0;
  -webkit-transition: opacity 350ms ease-in-out;
  -moz-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
}

.sb-crossfade img.top:hover {
  opacity: 0;
}

.article-cf {
  position: relative;
  height:100px;
  width:100px;
  margin:0 auto;
}

.article-cf img {
  position:absolute;
  left: 0;
  -webkit-transition: opacity 350ms ease-in-out;
  -moz-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
}

.article-cf img.top:hover {
  opacity: 0;
}

.contact-cf {
  display: inline;
  position: relative;
  height:15px;
  width:15px;
  margin:0 auto;
}

.contact-cf img {
  position:absolute;
  height:15px;
  width:15px;
  left: 0;
  -webkit-transition: opacity 350ms ease-in-out;
  -moz-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
}

.contact-cf img.top:hover {
  height:15px;
  width:15px;
  opacity: 0;
}

#header-logo {
  float: left;
  display: inline;
  position: relative;
  height: 100px;
  width: 100px;
  margin: 20px auto;
}

#header-logo img {
  position:absolute;
  height:100px;
  width:100px;
  left: 0;
  -webkit-transition: opacity 350ms ease-in-out;
  -moz-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
}

#header-logo img.top:hover {
  height:100px;
  width:100px;
  opacity: 0;
}

/************************* SLIDER CSS ************************/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
