/* App styles */

/************************************
* COLOR Scheme
* Primary: #0600CA
* Secondary: #B29400
* Tertiary: #FFD400
/************************************/
* {
  /*outline: 1px dashed black;*/
  border-radius: 3px;
}

a span {
  color: #222;
  transition: 350ms ease all;
}

a span:hover {
  color: #0600CA;
  font-size: 102%;
}

body {
  background: #DDD;
  max-width: 960px;
  margin: 0 auto;
}

footer {

}

header h1 {
  font-weight: bold;
  font-size: 110%;
}

header p {
  font-size: 80%;
  font-style: italic;
}

header ul {
  float: right;
}

header ul li {
  display: inline-block;
}

header ol li {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #BBB;
  display: inline-block;
}

header ol li:last-child {
  border: none;
}

header ol li a {
  text-decoration: none;
  color: blue;
}

header ol {
  text-align: center;
  font-size: 40px;
  clear:both;
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
  border-radius: 3px;
}

main section {
  text-align: justify;
  display: inline-block;
  padding: 10px 10px 10px 5px;
  width: 300px;
  border-right: 1px solid #BBB;
}

main section img {
  float: left;
  border-radius: 50%;
}

main section h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

main section p {
  clear: both;
}

main section:last-child {
  border: none;
}

footer strong {
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
  font-size: 40px;
}

footer>p:last-child {
  margin-top: 30px;
  text-align: center;
  font-size: 70%;
}

footer ol li {
  padding: 6px 0 0 0;
}

.contact-info {
  padding: 6px 0 0 0;
  display: block;
}

.footer-container {
  text-align: center;
  vertical-align: top;
  width: 460px;
  display: inline-block;
  padding: 0 5px 0 5px;
}

#header-logo {
  display: inline;
  float: left;
  margin: 0 5px 5px 0;
}

#header-text {

}

#banner-image {
  width: 100%;
  max-width: 960px;
}

#header-bar {
  font-size: 90%;
  width: 100%;
  max-width: 960px;
  border-radius: 8px;
  background: linear-gradient(#000, #333);
  color: #fff;
  margin: 5px 0 5px 0;
  display: block;
}

#header-bar strong {
  font-weight: bold;
  font-size: 105%;
}

#header-bar span {
  width: 300px;
  display: inline-block;
  text-align: center;
}

#header-bar span:first-child {
  padding: 0 0 0 5px;
  width: 320px;
}

.sb-crossfade {
  position: relative;
  height:24px;
  width:24px;
  margin:0 auto;
}

.sb-crossfade img {
  position:absolute;
  left: 0;
  -webkit-transition: opacity 350ms ease-in-out;
  -moz-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
}

.sb-crossfade img.top:hover {
  opacity: 0;
}
